# Папка виртуального окружения (venv, .venv, env)
venv/
.venv/
env/

# Файлы IDE (PyCharm)
.idea/
__pycache__/
*.py[cod]

# Базы данных и временные файлы
*.db
*.sqlite
*.json

# Логи и кэш
*.log
*.cache

# Файлы зависимостей (можно создать requirements.txt)
pip-selfcheck.json