{% extends "base.html" %}

{% block content %}
    <h1>{{ room.label }} - Options</h1>
    <form action="/handle_add_collaborator/{{ room.id }}" method="post">
        <input class="add-user-input" name="user_input" type="text" placeholder="Enter collaborator's ID here.">
        <button class="add-user-button" name="add_usr_btn" type="submit">Add collaborator</button>
    </form>
    <p>{{ message1 }}</p>
    <form action="/handle_delete_collaborator/{{ room.id }}" method="post">
        <input class="add-user-input" name="user_input_delete" type="text" placeholder="Enter collaborator's ID here.">
        <button class="delete-user-button" name="add_usr_btn" type="submit">Delete collaborator</button>
    </form>
    <p>{{ message2 }}</p>
        <form action="/handle_delete_room/{{ room.id }}" method="post">
            <div class="inline-elements">
                <button class="delete-user-button" name="delete_room_btn" type="submit">Delete room</button>
                <p>WARNING: If you delete the room, you won't be able to recover it!</p>
            </div>
        </form>
{% endblock %}